* {box-sizing: border-box;
   padding: 0;
   margin: 0;}


$body-font: "OpenSans-Light";
$bg-color: black;
$body-font-color: white;
$footer-font-color: #c2c2c2;

.flex {display: flex;}
.just-cont-center {justify-content: center;}
.dir-col{flex-direction:column;}
.padding-10 {padding: 10px;}
.header-height {height: 100vh;}
.flex-align-end { align-items: flex-end;}
.flex-align-center {align-items: center;}
.text-center {text-align: center;}

#header-height {height: 90vh;}
#header-height.active { height: auto;}

#clone {display: none;}

header {
        background-color: $bg-color;
        padding: 50px;

        p {
           font-family: $body-font;
           color: $body-font-color;
           font-size: 1.1em;
         }
}

.article {
          background-position: center;
          //background-size: cover;
          //background-repeat: no-repeat;
           height: 50vh;
          a {
              text-decoration: none;
              color: $body-font-color;
              text-align: left;
              font-family: $body-font;
            }

          p{ display: none;
             background-color: rgba(0,0,0,0.5);
             font-family: $body-font;
             color: $body-font-color;
             padding: 10px;
             //font-size: 2em;
             font-size: 1.1em;
             width: 100%;
            }
}
.article:hover :nth-child(1) {display: block;}

footer {
        background-color: $bg-color;
        height: 10vh;
        padding: 30px;

        p {
           font-family: $body-font;
           color: $footer-font-color;
           text-align: center;
           font-size:1.4em;
          }
}

.load {position: fixed;
       z-index: 2;
       background-image: url("../images/ajax-loader.gif");
       background-repeat: no-repeat no-repeat;
       background-size: 20%;
       background-position: center center;
       width: 100%;
       height: 100%;
       display: none;}

@font-face {font-family: "OpenSans-Light";
src: url("../fonts/OpenSans-Light.ttf");}

/* Media setting for the tabet  (min-width being 600px) */

@media screen and (min-device-width: 600px) {

.dir-row-tablet {flex-direction: row; }
.flex-just-center-tablet {justify-content: center;}
.dir-row-tablet {flex-direction: row; }
.flex-wrap-tablet {flex-wrap: wrap;}
.width-tablet { width: 33.33%;}
.height-tablet {height: 40vh;}
//.font-size-tablet {font-size: 1.1em;}
}

/* Media setting for the desktop  (min-width being 1000px) */

@media screen and (min-device-width: 1000px) {

.flex-just-cont-start-desktop {justify-content: flex-start;}
.dir-row-desktop {flex-direction: row; }
.align-cont-center-desktop {align-content: center;}
.text-align-left-desktop {text-align: left;}
.flex-just-center-desktop {justify-content: center;}
.flex-start-desktop {justify-content: flex-start;}
.flex-wrap-desktop {flex-wrap: wrap;}
.width-desktop { width: 25%;}
.height-desktop {height: 60vh;}
//.font-size-desktop {font-size: 1.1em;}
}
